<div class="main">
  <div class="div-row">
    <div class="div-col" style="text-align: center;">
      <nb-card status="basic">
        <nb-card-header>Select Mode</nb-card-header>
        <nb-card-body>
          <button nbButton outline status="primary" size="large" (click)="computer()">Computer vs Human</button><br><br>
          <button nbButton outline status="success" size="large" (click)="human()">Human vs Human</button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
