<h2>AI</h2>
<div *ngIf="playerCheck" class="main">
  <div class="div-row">
    <div class="div-col" style="text-align: center;">
      <nb-card status="basic">
        <nb-card-header>Human</nb-card-header>
        <nb-card-body>
          <h5 style="margin-top: 0; margin-bottom: 12px;">{{ player1 | titlecase}} is {{ human }}</h5>
          <h5 style="margin-top: 0; margin-bottom: 12px;">Win: {{ player1Count}}</h5>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="div-col" style="text-align: center;">
      <nb-card status="basic">
        <nb-card-header>Computer</nb-card-header>
        <nb-card-body>
          <h5 style="margin-top: 0; margin-bottom: 12px;">{{ player2 | titlecase}} is {{ ai }}</h5>
          <h5 style="margin-top: 0; margin-bottom: 12px;">Win: {{ player2Count}}</h5>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div style="text-align: center">
    <button style="margin-bottom: 1rem !important; margin: 0 3px;" (click)="resetGame()" nbButton outline
      status="warning">Reset</button>
    <button style="margin-bottom: 1rem !important; margin: 0 3px;" (click)="newGame()" nbButton outline
      status="danger">Start New Game</button>
    <h5 *ngIf="!gameOver" style="margin-top: 0">Current Player: {{ currentPlayer | titlecase}}</h5>
  </div>
  <main *ngIf="!gameOver">
    <div *ngFor="let square of squares; let i = index">
      <app-square *ngFor="let cell of square; let j = index" [value]="cell" [winner]="winner" (click)="makeMove(i, j)"></app-square>
    </div>
  </main>
  <div *ngIf="winner && gameOver" class="card-row">
    <div class="card-col" style="margin: 0 auto; width: 20rem;">
      <nb-card status="danger">
        <nb-card-header>Game Over</nb-card-header>
        <nb-card-body>
          <h4 *ngIf="winner === 'tie'; else name" style="text-align: center;">
            Match Drawn !!
          </h4>
          <ng-template #name>
            <h4 style="text-align: center;">
              {{ winnerName | titlecase}}<br> won the game !!
            </h4>
          </ng-template>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
<div *ngIf="!playerCheck" class="card-col" style="margin: 0 auto; width: 20rem;">
  <nb-card status="danger">
    <nb-card-header>Player Data</nb-card-header>
    <nb-card-body>
      <form #userForm="ngForm" (ngSubmit)="submitPlayerData(userForm.value)" ngNativeValidate>
        <input name="player1" [ngModel]="player1" required style="width: 100%; margin: 10px 0" type="text" nbInput
          placeholder="Enter Player Name">
          <nb-select required name="startingPlayer" style="width: 100%; margin: 10px 0" placeholder="Select Starting Player" [(selected)]="startingPlayer">
            <nb-option disabled value="undefined">Select Starting Player</nb-option>
            <nb-option value="human">Human</nb-option>
            <nb-option value="computer">Computer</nb-option>
          </nb-select>
        <button type="submit" style="margin-bottom: 1rem !important; margin: 0 3px; float: right" nbButton
          status="success">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
