<nb-layout>
  <nb-layout-header>
    <img src="assets/favicon/android-chrome-192x192.png" style="width: 75px; margin-right: 10px;">
    <h5 style="margin: 0;">Kattam Kutta</h5>
  </nb-layout-header>

  <nb-layout-column style="align-self: center;">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    <p class="paragraph-2" style="text-align: center;"> &copy; {{date | date:'yyyy'}}. <a style="text-decoration: none; color: white" href="https://thesrivastavaskitchenette.me/" target="_blank">The Srivastava's Kitchenette.</a><br> Made with ❤️ and 👨‍💻 in India</p>
  </nb-layout-footer>

</nb-layout>
