<nb-layout>
  <nb-layout-header>
      <h5>Tic Tac Toe / Kattam Kutta </h5>
  </nb-layout-header>

  <nb-layout-column>
    <app-ai></app-ai>
    <app-board></app-board>
    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer>
    <p class="paragraph-2" style="text-align: center;"> &copy; {{date | date:'yyyy'}}. <a style="text-decoration: none; color: white" href="https://thesrivastavaskitchenette.me/" target="_blank">The Srivastava's Kitchenette.</a><br> Made with ❤️ and 👨‍💻 in India</p>
  </nb-layout-footer>

</nb-layout>
